

<!DOCTYPE: html>
<html lang="pt-br">

<head>
        <title id="titulo"> Club Music </title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/violao.jpg")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        
        <h1> Bem vindo ao Club Music </h1>
        <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
   </head>
   
   <body >
   
   
   <div class="content" align="center">
   
   
    <section id="telaInicial">
   <h2>Aqui você poderá encontrar parceiros musicais para formar uma nova banda ou apenas tocar esporadicamente</h2>
   <h2>Crie um anúncio informando suas preferências e aguarde contato dos possíveis interessados</h2>
    <h3>Experimente!</h3>
    <form action="@routes.Application.books()">
    <input type="submit" class="btn btn-primary" value="Criar Novo Anúncio">
    </form>
    </section>
    </div>
   
   <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
   </body>

</html>